# Identifying Students Who Did Not Recieve Credit for Item 13 on 
## BIOL 1111 Fall Semester 2019 Exam 1

In [1]:
import pandas as pd
import glob,os,soar

In [2]:
tu={'worksource': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Input Data",
    'workoutput': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Output Data"}
gandolf={'worksource': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Input data",
    'workoutput': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Output Data"}

source = gandolf

In [3]:
os.chdir(source['workoutput'])
files = glob.glob('*.csv')
files

['1111 exam 1 S2019 keys.csv',
 'Fall19Exam 1_cleaned.csv',
 'Students who selected A for item 13 exam 1.csv',
 'total wrong 81.csv']

In [4]:
df = pd.read_csv(files[1])
df.head()

,Unnamed: 0,tuid,last,first,middle,unnamed1,unnamed2,unnamed3,soar,ncorrect,...,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,soarType,version
0,0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,...,2,1,3,3,1,3,1,4.0,key,1
1,1,915565870,CHIUMENTO,JOSEPH,NaN,11.0,11.0,48.0,75.0,22,...,2,1,3,1,1,3,1,1.0,other,1
2,2,915221763,SOILIS,NICHOL,G,11.0,11.0,33.0,72.0,23,...,2,1,3,3,1,3,1,3.0,other,1
3,3,915641754,HOWARD,LEANNA,C,11.0,10.0,23.0,81.0,24,...,2,1,2,3,1,3,1,1.0,mine,1
4,4,915645190,KIFAIEH,YAZAN,NaN,11.0,10.0,12.0,87.0,20,...,2,1,3,3,1,3,1,3.0,other,1

In [5]:
df.loc[df.soarType=='key'].item_13.value_counts()

1    26
Name: item_13, dtype: int64

In [31]:
df13_4 = df.loc[(df.soarType!='key')&(df.item_13==4),['tuid','last','first','middle','item_13']]
df13_1 = df.loc[(df.soarType!='key')&(df.item_13==1),['tuid','last','first','middle','item_13']]
df13_4.to_csv('Students who selected A for item 13 exam 1.csv', index=False)
print("There were {} students who selected 'A'(4) for item 13 and {} who selected 'D'(1)."\
      .format(df13_4.shape[0],df13_1.shape[0]))

There were 59 students who selected 'A'(4) for item 13 and 119 who selected 'D'(1).

In [30]:
item13spec = df.loc[df.soarType!='key','item_13'].value_counts(dropna=False,normalize=True,sort=False)\
.apply(lambda x: "{:.2f}%".format(x*100)).reset_index().rename(columns = {'index':'selection','item_13':'percent_selected'})
item13spec['selection'] = item13spec['selection'].apply(soar.letters2num)
print("The distribution for this item is as follows:")
item13spec

The distribution for this item is as follows:

  selection percent_selected
0         D           44.91%
1         C           28.30%
2         B            4.53%
3         A           22.26%