
#### Author: Christopher Agard

In [1]:
import pandas as pd
import numpy as np
import os,glob

pd.options.display.max_columns = 50

# Setting source and output folders

In [2]:
tu={'worksource': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Input Data",
    'workoutput': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Output Data"}
gandolf={'worksource': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Input data",
    'workoutput': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Output Data"}
source = tu

# Getting and Cleaning Exam Data

In [3]:
os.chdir(source['worksource'])
files = glob.glob('*.csv')
files

['1111 exam 1 S2019 keys.csv',
 'Cross-Walk 2019 Fall to 2018 Fall Exams.csv',
 'Fall 2018v1.csv',
 'Fall 2019v1.csv']

Now we will read in the summaries for 2018 EX1 and 2019 EX1 and merge them as a separate comparison file.

In [14]:
df19_1.columns

Index(['F19E1', 'A', 'B', 'C', 'D', ' ', '0', 'F18E1'], dtype='object')

In [13]:
df18_1 = pd.read_csv('Fall 2018v1.csv').drop(columns = 'Unnamed: 0').rename(columns = {'A':'A_18','B':'B_18','C':'C_18',
                                                                                     'D':'D_18',' ':' _18'})
df18_1.head()

   F18E1  A_18  B_18  C_18  D_18   _18
0      1   8.0     1    90   1.0   NaN
1      2  93.0     5     2   NaN   NaN
2      3   1.0    26    71   1.0   NaN
3      4  10.0     3    83   4.0   NaN
4      5   1.0    83     7   9.0   NaN

In [15]:
df19_1 = pd.read_csv('Fall 2019v1.csv').drop(columns = 'Unnamed: 0').rename(columns = {'A':'A_19','B':'B_19','C':'C_19',
                                                                                     'D':'D_19',' ':' _19','0':'0_19'})
df19_1.head()

   F19E1  A_19  B_19  C_19  D_19   _19  0_19  F18E1
0      1   8.0     2  89.0   1.0   NaN   NaN      1
1      2  97.0     1   2.0   NaN   NaN   NaN      2
2      3   NaN    79  20.0   1.0   NaN   NaN      4
3      4   1.0    86   6.0   7.0   NaN   NaN      5
4      5   5.0     3  87.0   5.0   NaN   NaN      3

In [19]:
df_1 = df19_1.merge(df18_1, on = ['F18E1'], how= 'outer')
print(df_1.shape)
df_1.head()

(27, 13)

,F19E1,A_19,B_19,C_19,D_19,_19,0_19,F18E1,A_18,B_18,C_18,D_18,_18
0,1,8.0,2,89.0,1.0,NaN,NaN,1,8.0,1,90,1.0,NaN
1,2,97.0,1,2.0,NaN,NaN,NaN,2,93.0,5,2,NaN,NaN
2,3,NaN,79,20.0,1.0,NaN,NaN,4,10.0,3,83,4.0,NaN
3,4,1.0,86,6.0,7.0,NaN,NaN,5,1.0,83,7,9.0,NaN
4,5,5.0,3,87.0,5.0,NaN,NaN,3,1.0,26,71,1.0,NaN

In [27]:
options = ['A','B','C','D',' ','0']

matches = dict()
for choice in options:
    tmp = [col for col in df_1.columns if choice in col]
    matches.update({choice:tmp})
matches

{' ': [' _19', ' _18'],
 '0': ['0_19'],
 'A': ['A_19', 'A_18'],
 'B': ['B_19', 'B_18'],
 'C': ['C_19', 'C_18'],
 'D': ['D_19', 'D_18']}

In [ ]:
def optiondiff(df, options):
    if not isinstance(df, pd.DataFrame()):
        print('df must be pd.DataFraem object not ',type(df))
    if not isinstance(options,list)|isinstance(options,str):
        print('options must be a list or str')
    complist = dict()
    for choice in options:
        tmp = [col for col in df_1.columns if choice in col]
        complist.update({choice:tmp})
    for choice in complist.keys():