This notebook cleans .txt and .dta data for students performance on exams for BIO1111 and exports a csv which can be analyzed in an R script.
#### Author: Christopher Agard

In [1]:
import pandas as pd
import numpy as np
import os,glob
from soar import *

pd.options.display.max_columns = 50

# Setting source and output folders

In [2]:
tu={'worksource': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Input Data",
    'workoutput': "C:/Users/tuh27554/Documents/Grading/2019/FALL EX1/Output Data"}
gandolf={'worksource': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Input data",
    'workoutput': "C:/Users/craga/Google Drive/TU 2019/Fall/Exam 1/Output Data"}

# Getting and Cleaning Exam Data

In [3]:
os.chdir(gandolf['worksource'])
files = glob.glob('*.dta')
files

['marcexams_2019_2019-A0153.dta', 'marcexams_2019_2019-A0154.dta']

In [4]:
os.chdir(gandolf['worksource'])
df1=cleanSoarExam(files[0],examNum=1,soarSessions=[81])
df1['version'] = 1
df2=cleanSoarExam(files[1],examNum=1,soarSessions=[81])
df2['version'] = 2
df = df1.append(df2)
df.head()

C:\Users\craga\Documents\GitHub\Grading\soar.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tmp['soar'] = soar

,tuid,last,first,middle,unnamed1,unnamed2,unnamed3,soar,ncorrect,examNumber,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,soarType,version
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,2,4,3,3,2,3,2,4,2,3,3,4,1,4,3,1,3,4,3,2,1,3,3,1,3,1,4,key,1
1,915565870,CHIUMENTO,JOSEPH,NaN,11.0,11.0,48.0,75.0,22,1,2,4,3,3,2,1,2,4,2,3,2,3,1,4,3,1,3,4,3,2,1,3,1,1,3,1,1,other,1
2,915221763,SOILIS,NICHOL,G,11.0,11.0,33.0,72.0,23,1,2,4,3,3,2,2,2,4,2,3,3,3,1,4,2,1,3,4,3,2,1,3,3,1,3,1,3,other,1
3,915641754,HOWARD,LEANNA,C,11.0,10.0,23.0,81.0,24,1,2,4,3,3,2,1,2,4,2,3,3,4,1,4,3,1,3,4,3,2,1,2,3,1,3,1,1,mine,1
4,915645190,KIFAIEH,YAZAN,NaN,11.0,10.0,12.0,87.0,20,1,2,4,3,3,2,1,2,3,2,4,3,3,4,4,3,1,1,4,3,2,1,3,3,1,3,1,3,other,1

We will confirm that the exam key haev been appropriately identified and change it if necessary.

Now we change the dir to the outputfolder and save the cleaned, merged file.

In [5]:
os.chdir(gandolf['workoutput'])
df.to_csv("Fall19Exam 1_cleaned.csv")

# Analyzing Exam Data

In [6]:
df.head()

,tuid,last,first,middle,unnamed1,unnamed2,unnamed3,soar,ncorrect,examNumber,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,soarType,version
0,500 - BLU,EXAM - KEY,NNNNNN,N,NaN,NaN,NaN,NaN,27,1,2,4,3,3,2,3,2,4,2,3,3,4,1,4,3,1,3,4,3,2,1,3,3,1,3,1,4,key,1
1,915565870,CHIUMENTO,JOSEPH,NaN,11.0,11.0,48.0,75.0,22,1,2,4,3,3,2,1,2,4,2,3,2,3,1,4,3,1,3,4,3,2,1,3,1,1,3,1,1,other,1
2,915221763,SOILIS,NICHOL,G,11.0,11.0,33.0,72.0,23,1,2,4,3,3,2,2,2,4,2,3,3,3,1,4,2,1,3,4,3,2,1,3,3,1,3,1,3,other,1
3,915641754,HOWARD,LEANNA,C,11.0,10.0,23.0,81.0,24,1,2,4,3,3,2,1,2,4,2,3,3,4,1,4,3,1,3,4,3,2,1,2,3,1,3,1,1,mine,1
4,915645190,KIFAIEH,YAZAN,NaN,11.0,10.0,12.0,87.0,20,1,2,4,3,3,2,1,2,3,2,4,3,3,4,4,3,1,1,4,3,2,1,3,3,1,3,1,3,other,1

# Most Frequently Wrong Answers

Here we identify the columns containing information about responses.

In [7]:
itemcols = df.columns[df.columns.str.contains('item')]
itemcols

Index(['item_1', 'item_2', 'item_3', 'item_4', 'item_5', 'item_6', 'item_7',
       'item_8', 'item_9', 'item_10', 'item_11', 'item_12', 'item_13',
       'item_14', 'item_15', 'item_16', 'item_17', 'item_18', 'item_19',
       'item_20', 'item_21', 'item_22', 'item_23', 'item_24', 'item_25',
       'item_26', 'item_27'],
      dtype='object')

In [8]:
df.soarType.value_counts()

other    232
mine      33
key       26
Name: soarType, dtype: int64

v1wrong = countwrong_allcol(df,1,itemcols = df.columns[df.columns.str.contains('item')])
v2wrong = countwrong_allcol(df,2,itemcols = df.columns[df.columns.str.contains('item')])

Now we apply this function to create a ranked list of items by order of the number of my students getting them wrong.

In [14]:
itemcols

Index(['item_1', 'item_2', 'item_3', 'item_4', 'item_5', 'item_6', 'item_7',
       'item_8', 'item_9', 'item_10', 'item_11', 'item_12', 'item_13',
       'item_14', 'item_15', 'item_16', 'item_17', 'item_18', 'item_19',
       'item_20', 'item_21', 'item_22', 'item_23', 'item_24', 'item_25',
       'item_26', 'item_27'],
      dtype='object')

In [18]:
wrongcount_v1_mine = pd.DataFrame()
for col in itemcols:
    wrongcount_v1_mine = wrongcount_v1_mine.append(countwrong(df= df.loc[df.soar==81], col = col, ver = 1,compind=['mine','other']))
wrongcount_v1_mine = wrongcount_v1_mine.sort_values(['number','item'],ascending=False).reset_index(drop = True)
wrongcount_v1_mine

       item  number
0   item_27      13
1    item_6      11
2   item_15      10
3   item_10      10
4    item_8       9
5   item_17       8
6    item_9       7
7    item_7       7
8   item_13       7
9    item_3       6
10  item_14       6
11  item_12       6
12  item_26       5
13  item_20       5
14  item_25       4
15  item_11       4
16   item_4       3
17  item_22       3
18  item_16       3
19   item_5       2
20  item_24       2
21   item_1       2
22  item_23       1
23   item_2       1
24  item_19       1
25  item_18       1
26  item_21       0

In [ ]:
wrongcount_v2_mine = pd.DataFrame()
for col in itemcols:
    wrongcount_v2_mine = wrongcount_v2_mine.append(countwrong(df= df, col = col, ver = 2,compind=['other','mine']))
wrongcount_v2_mine = wrongcount_v2_mine.sort_values(['number','item'],ascending=False).reset_index(drop = True)
wrongcount_v2_mine

## Sec 81

# Printing the Keys

In [29]:
df.soar.unique()

array([nan, 75., 72., 81., 87., 78.,  9., 83., 71., 84., 73., 14., 48.,
       82.])

In [39]:
# import numpy as np
v1keys = df.loc[(df.soar.isnull())&(df.soarType=='key')&(df.version==1),itemcols].iloc[0]
v1keys

item_1     2
item_2     4
item_3     3
item_4     3
item_5     2
item_6     3
item_7     2
item_8     4
item_9     2
item_10    3
item_11    3
item_12    4
item_13    1
item_14    4
item_15    3
item_16    1
item_17    3
item_18    4
item_19    3
item_20    2
item_21    1
item_22    3
item_23    3
item_24    1
item_25    3
item_26    1
item_27    4
Name: 0, dtype: object

In [38]:
v2keys = df.loc[(df.soarType=='key')&(df.version==2),itemcols].iloc[0]
v2keys

item_1     3
item_2     4
item_3     3
item_4     3
item_5     2
item_6     2
item_7     2
item_8     1
item_9     2
item_10    3
item_11    3
item_12    2
item_13    1
item_14    4
item_15    1
item_16    1
item_17    3
item_18    4
item_19    3
item_20    1
item_21    1
item_22    3
item_23    1
item_24    1
item_25    3
item_26    1
item_27    4
Name: 0, dtype: object

In [45]:
letters2num_dict = {1:'D',2:'C',3:'B',4:'A'}
keys = pd.DataFrame(data = {'version1':v1keys,'version2':v2keys})
for col in keys.columns:
    keys[col] = keys[col].apply(lambda x: letters2num_dict[int(x)])
keys.to_csv('1111 exam 1 S2019 keys.csv',index = False)
keys

        version1 version2
item_1         C        B
item_2         A        A
item_3         B        B
item_4         B        B
item_5         C        C
item_6         B        C
item_7         C        C
item_8         A        D
item_9         C        C
item_10        B        B
item_11        B        B
item_12        A        C
item_13        D        D
item_14        A        A
item_15        B        D
item_16        D        D
item_17        B        B
item_18        A        A
item_19        B        B
item_20        C        D
item_21        D        D
item_22        B        B
item_23        B        D
item_24        D        D
item_25        B        B
item_26        D        D
item_27        A        A

# Evaluating Student Performance
Now we look at scores by section.

In [47]:
df.ncorrect.describe()

count    291.000000
mean      19.865979
std        4.191853
min        8.000000
25%       17.000000
50%       20.000000
75%       23.000000
max       27.000000
Name: ncorrect, dtype: float64

In [49]:
df.groupby(['soar']).ncorrect.describe()

      count       mean       std   min    25%   50%    75%   max
soar
9.0     2.0  23.000000  5.656854  19.0  21.00  23.0  25.00  27.0
14.0    2.0  23.500000  4.949747  20.0  21.75  23.5  25.25  27.0
48.0    2.0  24.000000  4.242641  21.0  22.50  24.0  25.50  27.0
71.0   30.0  20.333333  4.104945  11.0  17.00  21.0  23.00  27.0
72.0   33.0  18.969697  4.126779  10.0  16.00  19.0  23.00  27.0
73.0   31.0  19.064516  4.257820  11.0  16.00  19.0  22.50  27.0
75.0   31.0  19.903226  4.052611   9.0  18.50  21.0  22.00  27.0
78.0   28.0  20.571429  3.604817  12.0  18.75  21.0  23.00  27.0
81.0   35.0  20.257143  3.415732  13.0  18.00  20.0  23.00  27.0
82.0    2.0  20.000000  9.899495  13.0  16.50  20.0  23.50  27.0
83.0   24.0  19.250000  3.980933  11.0  16.00  19.5  22.00  27.0
84.0   23.0  19.478261  4.480965  12.0  16.50  21.0  23.00  27.0
87.0   36.0  19.277778  4.849808   8.0  18.00  19.5  22.25  27.0